body{
	background-color: orange;
	width: 100%;
}

#wrap{
	width: 100%;
}

.gifWrap{
	margin-left: 50px;
}


.right{
	font-family: 'Fascinate Inline', cursive;
	font-size: 60px;
	color: white;
	text-shadow: 2px 2px grey;
	float: right;
	margin: 20px 100px 20px 20px;
}

.left{
	font-family: 'Quicksand', sans-serif;
	font-size: 25px;
	float: left;
	margin: 20px 20px 20px 50px;
}

hr{
	width: 99%;
	height: 7px;
	border-width: 5px;
}

#topicButtons{
	margin: 20px 5px 20px 50px;

}

.animalButton{
	width: 10%;
	padding: 10px 0px 10px 0px;
	margin: 5px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
	background-color: #00a3ff;
	border-radius: 8px;
	color: white;
}

.animalButton:hover{
	background-color: #109ac5;

}
/*
font-family: 'Cairo', sans-serif;
*/